<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>310981917109-r3dod860v5s4ut2lqsuadk1j4ccnmdjs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.310981917109-r3dod860v5s4ut2lqsuadk1j4ccnmdjs</string>
	<key>API_KEY</key>
	<string>AIzaSyC_79a4MUhyF5WNh_CtRdRS-FW9AWT4WXQ</string>
	<key>GCM_SENDER_ID</key>
	<string>310981917109</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.noufalsaleh.BodyFuel</string>
	<key>PROJECT_ID</key>
	<string>bodyfuel-c97a2</string>
	<key>STORAGE_BUCKET</key>
	<string>bodyfuel-c97a2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:310981917109:ios:589197efeecf844f</string>
	<key>DATABASE_URL</key>
	<string>https://bodyfuel-c97a2.firebaseio.com</string>
</dict>
</plist>